.checked-page {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 120px;
}

#round {
  animation: round 3s linear forwards;
  animation-duration: 1s;
  animation-timing-function: ease;

  @keyframes round {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
}

#check {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: draw 3s linear forwards;
  fill-opacity: 0;

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}
